body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  color: hsl(229, 31%, 21%);
  width: 100%;
}

.btn-primary {
    color: #fff ;
    background-color: hsl(231, 69%, 60%) !important ;
    border-color: hsl(231, 69%, 60%)!important;
    font-weight: bold !important;
  }

.btn-primary:hover{
    color: hsl(231, 69%, 60%) !important;
    background-color: #FFF !important;
    border-color: hsl(231, 69%, 60%) !important;
}

.btn-secondary {
  color: hsl(229, 8%, 60%) !important;
  background-color: #F8F8F8 !important;
  border-color: hsl(229, 8%, 60%) !important;
  font-weight: bold;
}

.btn-secondary:hover {
  color: hsl(229, 8%, 60%) !important;
  background-color: #FFF !important;
  border-color: hsl(229, 8%, 60%) !important;
}

.btn-danger {
    color: #FFF !important;
    background-color: hsl(0, 94%, 66% )!important;
    font-weight: bold;
}

.btn-danger:hover {
    color: hsl(0, 94%, 66%) !important;
    background-color: #FFF !important;
}

.links {
  margin: auto;
}

.links:hover {
  color: hsl(0, 94%, 66%) !important;
}

.accordion-body {
  color:hsl(229, 8%, 60%) !important;
  line-height: 2;
}

.accordion-button:hover {
  color:hsl(0, 94%, 66%);      
}

.accordion-button:not(.collapsed) {
color:hsl(229, 31%, 21%);
  background-color: #FFF;
}

.tab-link-color {
  color: hsl(229, 31%, 21%);
  
}

.tab-link-color:hover{
  color:hsl(0, 94%, 66%) !important;
}

.tabBarOptions{
  border-top-width: 0;
}
